page-saved-info {
    .error-message{
        padding: 5px 16px;
        color: rgb(165, 11, 11);
    }
    .survey-title{
        font-weight: 500;
        font-size: large
    }
    .survey-date{
        font-size: small
    }
}
