<ion-header>
  <ion-navbar color="primary">
    <ion-title>Sampling Decision Assistant</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="showMenu($event)">
        <ion-icon name="more"></ion-icon>Menu
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="content-container">
    <div>
      <div style="font-size: medium; display:flex" *ngIf="activeProject && !activeProject.title">
        <div style="margin-right:10px">
          <ion-icon name="bulb"></ion-icon>
        </div>
        <div>
          <div>You are working on a new project, changes will be saved automatically to this device</div>
          <div>To load a saved project click on the "menu" in the top right corner</div>
        </div>
      </div>
      <div icon-left style="font-size: medium; font-weight:700" *ngIf="activeProject && activeProject.title">
        <ion-icon name="clipboard"></ion-icon>{{activeProject.title}}
      </div>
      <!-- step by step sections -->
      <div class="section-break">Step By Step Decisions</div>
      <div class="main-container">
        <p class="instruction" icon-left>
          <ion-icon name="information-circle"></ion-icon>Use each step below to build an overview of your sampling
          decisions
        </p>
        <!-- section cards -->
        <ion-card *ngFor="let section of sections" class="hover-fill" style="height:120px" (click)="goToSection(section)"
          [ngClass]="section.class">
          <div class="section-container">
            <div *ngIf="section.class=='disabled'" class="section-disabled">This step is not currently available for
              preview</div>
            <div class="section-icon-container">
              <img class="section-icon" [src]="section.icon">
            </div>
            <div class="section-title">{{section.stage}}: {{section.name}}</div>
            <div class="section-status">
              <button ion-button icon-only clear [disabled]="!stagesComplete[section.stage]">
                <ion-icon name="checkmark-circle"></ion-icon>
              </button>

            </div>
          </div>
        </ion-card>
      </div>
      <!-- Review and export -->
      <div class="section-break">Review and Export</div>
      <p class="instruction" icon-left>
        <ion-icon name="information-circle"></ion-icon>Review the decisions you have made and make revisions before
        final export
      </p>
      <ion-card class="review-box" (click)="pushPage('ReviewPage')" style="margin-bottom:2em">
        <div style="display:flex; ">
          <div class="review-card">
            <span>Review</span>
          </div>
          <img class="section-icon _80px" src="assets/img/icons/arrows-dual.svg">
          <div class="review-card">
            <span>Improve</span>
          </div>
        </div>
        <div style="display:flex; justify-content:center">
          <img class="section-icon _80px" src="assets/img/icons/arrow-right.svg">
          <div class="review-card">
            <div>Export</div>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>