<ion-header>
  <ion-navbar color="primary">
    <ion-title>Sampling Decision Assistant</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="showMenu($event)">
        <ion-icon name="more"></ion-icon>Menu
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="content-container">
    <!-- intro -->

    <introduction *ngIf="showIntro"></introduction>
    <div [ngClass]="showIntro ? 'hidden':'not-hidden'">
      <div style="font-size: medium" icon-left *ngIf="!activeSurvey">
        <ion-icon name="bulb"></ion-icon>To start a new project from a template or to load a saved project click on the menu link above</div>
        <div icon-left style="font-size: medium; font-weight:700" *ngIf="activeSurvey">
          <ion-icon name="clipboard"></ion-icon>{{activeSurvey.title}}</div>
      <!-- step by step sections -->
      <div class="section-break">Step By Step Decisions</div>
      <div class="main-container">
        <p class="instruction" icon-left>
          <ion-icon name="information-circle"></ion-icon>Complete each section to build an overview of your sampling decisions</p>
          <!-- section cards -->
        <ion-card *ngFor="let section of sections" class="hover-fill" style="height: 100%; max-height:120px" (click)="goToSection(section)"
          [ngClass]="section.class">
          <div class="section-container">
            <div class="section-icon-container">
              <img class="section-icon" [src]="section.icon">
            </div>
            <div class="section-title">{{section.stage}}: {{section.name}}</div>
            <div class="section-status" >
              <!-- *ngIf="dataPrvdr.stagesComplete[section.stage]" -->
              <button ion-button icon-only clear [disabled]="!dataPrvdr.stagesComplete[section.stage]"><ion-icon name="checkmark-circle"></ion-icon></button>
              
            </div>
          </div>
        </ion-card>
      </div>
      <!-- Review and export -->
      <div class="section-break">Review and Export</div>
      <p class="instruction" icon-left>
        <ion-icon name="information-circle"></ion-icon>Review the decisions you have made and make revisions before final export</p>
      <div class="review-box" (click)="pushPage('ReviewPage')">
        <div style="max-width:600px; display:flex">
          <ion-card class="review-card">
            <span>Review</span>
          </ion-card>
          <img class="section-icon _80px" src="assets/img/icons/arrows-dual.svg">
          <ion-card class="review-card">
            <span>Improve</span>
          </ion-card>
        </div>
        <div style="max-width:600px; display:flex; justify-content:center">
          <img class="section-icon _80px" src="assets/img/icons/arrow-right.svg">
          <ion-card class="review-card">
            <span>Export</span>
          </ion-card>
        </div>



      </div>

    </div>




  </div>


</ion-content>