page-step-by-step {
    // most in app.scss
    .card{
        max-width: 300px;
        margin:10px 0 0 10px;
    }
    .main-container{
        display: flex;
        flex-wrap: wrap;
    }
    .hidden{
        display: none
    }
    .instruction{
        font-size: large;
    }
    .section-break{
        width: 100%;
        padding:5px;
        text-align: center;
        background-color: color($colors,primary);
        margin-top:20px;
        color: white;
        font-size: large;
    }
    ._80px{
        max-width:80px;
        max-width: 80px;
    }

    .review-card{
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width:150px;
        font-size: large;
        font-weight: 700;
        background-color: rgba(196,201,255,0.8)        
    }
    @media screen and (max-width: 450px){
        .review-card{
            width:90px
        }
    }
}
