survey-question {
    
    .question-label{
        color:color($colors,primary);
        font-size: 1.6rem;
        padding: 5px;
    }
    ion-icon{
        margin-right:5px;
    }
    ion-select{
        max-width: 100%;
        width:100%;
    }
    .container{
        display: flex;
    }
    .bookmark{
        margin:5px;
    }
    textarea{
        min-height:60px; 
        height: auto;
        // max-height:16rem;
        overflow: hidden;        
        border: 1px solid black;
        border-radius: 10px;
        width:calc(100% - 10px);
        padding: 5px;
    }
}
