<div class="slide-content">
  <h4>What indicators will guide your sampling decisions?</h4>
  <p>
    In this section you need to select one indicator that will guide some of your decisions about sampling.
  </p>
  <p>
    A good deal of the statistics theory that is used in sampling is based on estimating the value of an indicator for a population.
    This produces some tension because in practice we want to estimate multiple indicators. The way this tension is resolved
    it to choose one key indicator that can be used to make important decisions.
  </p>
  <p>
    There are two things you will need to know about the indicator:
  </p>
  <ol>
    <li>How variable it is</li>
    <li>What is the margin of error that you are prepared to accept in the estimation process</li>
  </ol>
  <p>
    The following questions will help you in thinking about these issues
  </p>
  <ion-card>
    <survey-question-group [section]="section" [showLabel]=true></survey-question-group>
  </ion-card>

  <p>
    You can access extra help in the section "Resources" where some more technical issues are discussed to help you developing
    a better understanding that should help in your decision making.
  </p>
</div>