<form *ngIf="formGroup" [formGroup]="formGroup">
  <div *ngIf="groupQuestions">
    <div *ngFor="let question of groupQuestions">
      <div *ngIf="question.type!='repeat'">
        <survey-question [question]="question" [formGroup]="formGroup" *ngIf="shouldShowQuestion(question)" [showLabel]="showLabel"></survey-question>
      </div>
      <div *ngIf="question.type=='repeat'">
        <div [formArrayName]="question.controlName">
          <div *ngFor="let group of formGroup.controls[question.controlName].controls; let i=index" [formGroupName]="i">
            <div class="repeat-heading">{{getRepeatGroupTitle(question,i)}}</div>
            <div *ngFor="let q of question.repeatQuestions">
              <survey-question [question]="q" [formGroup]="formGroup.controls[question.controlName].controls[0]" *ngIf="shouldShowQuestion(question)" [showLabel]="showLabel"></survey-question>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>