<form *ngIf="formGroup" [formGroup]="formGroup">
  <div *ngIf="singleMode && questions">
    <ion-slides>
      <ion-slide *ngFor="let question of questions">
        <survey-question [question]="question" [formGroup]="formGroup" *ngIf="showQuestion(question)"></survey-question>
      </ion-slide>
    </ion-slides>

  </div>
  <div *ngIf="!singleMode && questions">
    <div *ngFor="let question of questions">
      <survey-question [question]="question" [formGroup]="formGroup" *ngIf="showQuestion(question)"></survey-question>
    </div>
  </div>

  <!-- <div class="group-meta"> -->
  <!-- <div>valid: {{formGroup.valid}}</div> -->
  <!-- <button ion-button (click)="save()" [disabled]="!formGroup.valid">Save</button> -->
  <!-- </div> -->
</form>