<form *ngIf="formGroup" [formGroup]="formGroup">
  <div *ngIf="groupQuestions">
    <div *ngFor="let question of groupQuestions">
      <survey-question [question]="question" [formGroup]="formGroup" *ngIf="shouldShowQuestion(question)" [showLabel]="showLabel"></survey-question>
    </div>
  </div>

  <!-- <div class="group-meta"> -->
  <!-- <div>valid: {{formGroup.valid}}</div> -->
  <!-- <button ion-button (click)="save()" [disabled]="!formGroup.valid">Save</button> -->
  <!-- </div> -->
</form>