<div class="slide-content">

    <ion-slides #frameBuilder class="stage-5-slides" (ionSlideDidChange)="builderSlideChange()">

        <!-- recap slide -->
        <ion-slide>
            <stage-5-recap></stage-5-recap>
        </ion-slide>
        <!-- single vs multi stage slide -->
        <ion-slide>
            <stage-5-define-stages></stage-5-define-stages>
        </ion-slide>
        <!-- multi-stage builder slide -->
        <ion-slide *ngIf="form.value['q5.1.1']=='Multi-stage' || form.value['q5.1']=='No'">
            <stage-5-frame-builder></stage-5-frame-builder>
        </ion-slide>
        <!-- define strata slide -->
        <ion-slide *ngIf="form.value['q5.1.1']=='Multi-stage' || form.value['q5.1']=='No'">
            <stage-5-define-strata></stage-5-define-strata>
        </ion-slide>



    </ion-slides>

    <!-- Next and back buttons -->
    <div style="display: flex; justify-content:space-between; padding-bottom:20px">
        <button ion-button icon-left (click)="lastStep()" [disabled]="frameBuilderIndex==0" [style.opacity]="frameBuilderIndex==0 ? 0 : 1">
            <ion-icon name="arrow-back"></ion-icon>
            Back
        </button>
        <button ion-button icon-right (click)="nextStep()" *ngIf="frameBuilderActiveSlide < 2 || showStrataDefineSlide">Next
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>
</div>