<div class="slide-content">
    <stage-breadcrumbs [stage]='5' [stageSlidesIndex]="stageSlidesIndex"></stage-breadcrumbs>
    <ion-slides #stageSlides class="stage-slides" (ionSlideDidChange)="stageSlideChange()" effect="fade">
        <!-- recap slide -->
        <ion-slide>
            <stage-intro [stage]="5"></stage-intro>
            <stage-5-recap></stage-5-recap>
        </ion-slide>
        <!-- single vs multi stage slide -->
        <ion-slide>
            <stage-5-define-stages></stage-5-define-stages>
        </ion-slide>
        <!-- multi-stage builder slide -->
        <ion-slide *ngIf="form.value['q5.1.1']=='Multi-stage' || form.value['q5.1']=='No'">
            <stage-5-frame-builder-overview></stage-5-frame-builder-overview>
            <stage-complete stageNumber=5 ></stage-complete>
        </ion-slide>

    </ion-slides>

    <!-- Next and back buttons -->
    <div style="display: flex; justify-content:space-between; padding-bottom:20px">

        <button ion-button icon-right (click)="nextStep()" *ngIf="stageSlidesIndex <2" clear block>Continue
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>
</div>