survey-reference {
    .reference-text{
        padding:5px;
        font-weight: bold;
    }
    .no-value{
        color:red!important;
        //background-color: #ecbdb6;
        padding: 5px;
        font-weight: bold!important;
    }
}
