survey-question {

    .invisible {
        visibility: hidden;
    }
    .question-label {
        // color:color($colors,primary);
        font-size: 1.6rem;
        padding: 5px;
        display: flex;
        align-items: center;
        background-color: #ececec;
        border-bottom: 1px solid #d2d2d2ec;
    }
    .question-label-text{
        flex:1
    }
    .question-number {
        margin-right: 10px;
        font-size: x-small;
    }
    .item-inner{
        border-bottom: unset!important
    }
    ion-icon {
        margin-right: 5px;
    }
    ion-select {
        max-width: 100%;
        width: 100%;
    }
    .container {
        display: flex;
        border: 1px solid #d2d2d2ec;
    }
    .bookmark {
        float: right;
        font-size: small;
        color: green;
        visibility: hidden;
    }
    textarea {
        min-height: 60px;
        height: auto; // max-height:16rem;
        // overflow: hidden;        
        border: 1px solid black;
        border-radius: 10px;
        width: calc(100% - 10px);
        padding: 5px;
        resize: none;
    } // textarea.text-input{
    //     height:calc(100% - 5px);
    //     margin:0;
    // }
    .input {
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
    } // input colors
    ion-input[type="number"]{
        border:unset;
        border-radius: unset;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    }
    .select-text,
    textarea,
    .text-input {
        color: color($colors, primary);
    }
    
    .dynamic-text {
        // color:#b75d1b;
        font-weight: 700;
        margin: 0 3px;
    }
    .bullet {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.7);
        margin-right: 4px;
        border-radius: 50%;
    }
    .multiple-list {
        max-width: 600px;
        display: flex;
        align-items: center;
        margin: 5px 75px 5px 20px;
        font-size: medium;
        color: rgba(0, 0, 0, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 5px;
    }
    .multiple-list-value{
        flex-basis: 100%;
        margin-left:10px;
    }
   
    .prefix {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: -10px;
        z-index: 2;
        font-size: 24px;
    }
}