survey-question {
    
    .question-label{
        // color:color($colors,primary);
        font-size: 1.6rem;
        padding: 5px;
        display: flex;
    }
    
    .dark{
        // color:color($colors,primary-dark);
    }
    ion-icon{
        margin-right:5px;
    }
    ion-select{
        max-width: 100%;
        width:100%;
    }
    .container{
        display: flex;
    }
    .bookmark{
            float: right;
            font-size: small;
            color: green;
            visibility: hidden;
    }

    textarea{
        min-height:60px; 
        height: auto;
        // max-height:16rem;
        // overflow: hidden;        
        border: 1px solid black;
        border-radius: 10px;
        width:calc(100% - 10px);
        padding: 5px;
        resize: none;
    }
    // textarea.text-input{
    //     height:calc(100% - 5px);
    //     margin:0;
    // }
    .input{
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
    }
    // input colors
    .select-text, textarea, .text-input{
        color:color($colors,primary);
    }
    .question-number{
        margin-right:5px;
        font-size: x-small
    }
    .dynamic-text{
        // color:#b75d1b;
        font-weight: 700;
        margin:0 3px;
    }
    .bullet{
        display: inline-block;
		width: 8px;
		height: 8px;
        background-color: rgba(0,0,0,0.7);
        margin-right:4px;
		border-radius: 50%;
    }
    .multiple-list{

        width:100%;
        display: inline-block;
        margin: 5px 60px 0 0;
        font-size: medium;
        color: rgba(0,0,0,0.9);
        border: 1px solid rgba(0,0,0,0.3);
        padding: 5px;
    }
    .multiple-remove-button{
        float: right;
        color: color($colors,primary)
    }
    .multiple-arrows{
        width:100%;
        max-width:300px;
        text-align: center;
    }
    .multiple-arrow-down{
        font-size: 28px;
        margin-right: 36px;
    }
    .prefix{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: -10px;
        z-index: 2;
        font-size: 24px;
    }
}
