<div class="slide-content">
  <h2>Introduction</h2>
  <p>To effectively design a sampling process, you should first have a clear idea of your main objective. This is your overall
    aim for the activity that you are doing sampling for.</p>

  <p>Developing sampling designs is about making decisions that will define how you will collect data and how you will estimate
    the value of one or a set of
    <glossary-link slug="population-characteristics">characteristics of a population</glossary-link>. We sometimes call those characteristics
    <glossary-link slug="indicator">indicators</glossary-link>. This guide has been designed to help with this type of objective. Common examples can be
    seen in the
    <a href="/#/step-by-step/stage-1/resources">resources</a> tab. This may happen for example when profiling populations, setting baselines or assessing the value of
    indicators at end-line or midline points.
  </p>

  <p>In some cases a study may be established to compare interventions and require a quasi-experimental or experimental approach.
    This tool has not been aimed to support decisions for this type of design but it will provide pointers to useful resources
    and links that may help with the question of how many times a treatment should be repeated.</p>

  <p>
    The first question you will answer broadly separates these two types of objectives. The first answer is for people conducting
    a survey to estimate a characteristics of a population. The second is for those wishing to evaluate the impact of an
    intervention while controlling external factors. If you are not sure which is the correct answer for you, have a look
    at the examples provided.
  </p>

  <help-icon resource="testResource"></help-icon>
  <survey-question-group [section]="section" [filter]="['q1.1','q1.2']"></survey-question-group>



  <div *ngIf="form.value['q1.2']=='Representative'">
    <p>With your target population in mind, try to answer the following questions:</p>
    <survey-question-group [section]="section" [filter]="['q1.3','q1.4']"></survey-question-group>
  </div>

  <!-- not relevant responses from 1.1 or 1.2 -->
  <p *ngIf="form.value['q1.1']=='Measure impact of experiment or intervention'">
    <note type="dev">
      Information will go here explaining main uses of tool directed towards measuring characteristics, but elements that may still
      be relevant and links to more information
    </note>

  </p>
  <p *ngIf="form.value['q1.2']=='Non-representative'">
    <note type="dev">
      Information will go here explaining main uses of tool directed towards representative samples, but elements that may still
      be relevant and links to more information
    </note>
    <!-- <span class="incomplete">Text to go here responding to measure impact</span> -->
  </p>

  <stage-complete stageNumber=1 [complete]="dataPrvdr.stagesComplete[1]" ></stage-complete>

</div>