<div class="slide-content">
    <stage-breadcrumbs [stage]='4' [stageSlidesIndex]="stageSlidesIndex"></stage-breadcrumbs>
    <ion-slides #stageSlides class="stage-slides" (ionSlideDidChange)="stageSlideChange()" effect="fade">
        <!-- Intro slide -->
        <ion-slide>
            <stage-intro [stage]="4"></stage-intro>
            <p>
                Before you try to determine the individual sampling units, it is important to define the reporting requirements or goals.
                Depending on how you intend to report results, you may or may not have to consider your total sample size
                and method of selection differently.
            </p>
            <p>The first question is to decide if you need wish to divide your population to produce
                <glossary-link slug="disaggregated-estimate">disaggregated estimates</glossary-link>
            </p>
            <survey-question controlName="q4.1"></survey-question>

            <survey-question controlName='reportingLevels'></survey-question>


            <div *ngIf="form.value['q4.1']=='One estimate'">
                <survey-question controlName='q4.3'></survey-question>
                <stage-complete stageNumber=4></stage-complete>
            </div>
        </ion-slide>

        <!-- define levels slide -->
        <ion-slide>
            <stage-4-define-level-categories></stage-4-define-level-categories>
        </ion-slide>
        <ion-slide *ngIf="form.value['reportingLevels'] && form.value['reportingLevels'].length>0">
            <stage-4-review-levels></stage-4-review-levels>
            <stage-complete stageNumber=4></stage-complete>
        </ion-slide>

    </ion-slides>

    <!-- Next and back buttons -->
    <div style="display: flex; justify-content:space-between; padding-bottom:20px; margin-top:20px">
        <button ion-button icon-right (click)="nextStep()" *ngIf="stageSlidesIndex <2" clear block>Continue
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>
</div>



<!-- <p>Here is a list of your target population characteristics for reference. If any of these also form reporting
                    levels make sure they are included in the list above (e.g. if you plan to compare time periods 2017 and
                    2018, you may wish to specify 'year' as a reporting level)</p>
                <ul>
                    <li *ngIf="form.value['q3.2']">Geographic:
                        <survey-reference controlName="q3.2"></survey-reference>
                    </li>
                    <li *ngIf="form.value['q3.3']">Population Group:
                        <survey-reference controlName="q3.3"></survey-reference>
                    </li>
                    <li *ngIf="form.value['q3.4']">Time:
                        <survey-reference controlName="q3.4"></survey-reference>
                    </li>
                </ul> -->