introduction-text {
    background-color: white;
    font-size: 1.2em;
    padding: 10px;
    .top-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
