<!-- Generated template for the IntroductionTextComponent component -->
<div class="main">
  <div class="top-nav">
    <h2>Introduction</h2>
    <button (click)="dismiss()" clear ion-button icon-left>
      <ion-icon name="close"></ion-icon>Close</button>
  </div>
  <p>The purpose of the Sampling Decision Assistant is to provide a tool to support the design of sampling strategies among
    UNHCR staff when there is a need for primary data collection. These operations often arise as part of needs assessment
    processes when not enough information is available from secondary sources. In those cases, it is important to remember
    that the appropriateness and feasibility of different data collection methodologies will depend on</p>
  <ul>
    <li>The objectives of the primary data collection exercise</li>
    <li>Constraints</li>
    <li>The context</li>
    <li>The expected benefits and costs</li>
  </ul>
  <p>A careful choice of the data collection methods is important, whatever the choice, each one has advantages and disadvantages.
    If sampling is involved in the process, then it is important to decide whether
    <span class="glossary-link">probability based sampling</span> is possible, which is expected to yield a sample that is representative of the population.
    Alternatively&nbsp; the information may come from a sample drawn&nbsp; using
    <span class="glossary-link">non-probability based sampling</span>; and this choice has important consequences on how the resulting information can
    be used.</p>
</div>