<ion-header>

  <ion-navbar color="primary">
    <ion-title>Review and Analysis</ion-title>
    <ion-buttons end>
      <button ion-button icon-left *ngIf="viewSection==0" (click)="slideTo(1)">
        <ion-icon name="analytics"></ion-icon>View Analysis</button>
      <button ion-button icon-left *ngIf="viewSection==1" (click)="slideTo(0)">
        <ion-icon name="list"></ion-icon>View Decisions</button>
      <!-- <button ion-button icon-left (click)="save()" *ngIf="!showIntro">Save</button> -->
      <!-- <button ion-button icon-left (click)="export()" *ngIf="!showIntro">Export</button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="slide-scroll-content survey" style="margin-bottom:10px">
  <ion-content>
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <!-- Review content -->
        <div padding>
          <h2>Review Decisions</h2>
          <div>
            <div *ngFor="let group of questionGroups">
              <div class="heading">
                {{group}}
              </div>
              <survey-question-group [section]="group" [showLabel]=true></survey-question-group>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <!-- Analysis Content -->
        <div padding>
          <h2>Analysis</h2>
          <p>In this section there will be a short analysis based on the decisions made, to help to identify potential issues
            or flags
            <p>
              <p>Once satisfied, the user can export their results to xlsx format</p>
              <button ion-button icon-left (click)="export()">
                <ion-icon name="download"></ion-icon>Export</button>
        </div>
      </ion-slide>
    </ion-slides>

  </ion-content>