sample-size-calculator {
    .calculator-iframe{
        width:100%;
        height: 1200px;
    }
    table{
        border: 1px solid black;
    }
    tr{
        padding: 5px;
    }
    th,td{
        border: 1px solid black;
        padding:5px;
        
    }
    .calc-section{
        margin:10px 10px 10px 0;
        width:250px;
        padding:5px;
        background-color: gainsboro
    }
    .calc-section.results{
        background-color: white;
        width:570px;
    }
    .calc-section.assumptions{
        background-color: wheat;
        width:300px;
    }

    .input-label{
        width:120px;
    }
    .input-label.results{
        flex:1;
        padding:5px;
    }
    .input-value{
        margin-left:20px;
        opacity: 0.6;
    }
    .input-value.results{
        font-weight: bold
    }
    .input-item{
        display: flex;
        margin-bottom: 1em;
        border-bottom: 1px solid #bdb7b7;
        padding-bottom: 10px;
    }
    .section-title.results, .section-title.assumptions{
        flex-direction: unset;
        justify-content: space-between;
        align-items: center;
    }
    .reset-button{
        font-size: small;
        cursor: pointer;
    }
}