page-home {
    
    
    .start-button{
        font-size: large;
    }
    .align-start{
        align-items: flex-start;
    }

    
    .button-block{
        // minor tweak to prevent block buttons stretching over
        margin:2px;
    }
    .version{
        position: absolute;
        right: 5px;
        color: color($colors,primary);
        font-weight: 500;
    }
    
}
