<ion-header class="header">
  <!-- <div class="version-info">
    <div>
      <span style="font-weight: bold">v{{version.number}}</span>
      <span style="font-size:smaller; margin-left:8px">({{version.date}})</span>
    </div>
    <button ion-button clear (click)="showChangelog()">What's New?</button>
  </div> -->
  <img src="assets/img/unhcr-logo.png" class="header-logo">
  <div class="header-text hide-small">Sampling Decision Assistant</div>
</ion-header>

<ion-content padding>
  <div style="flex:1; margin-bottom: 5em">
    <h1 style="margin-top:35px"></h1>
    <div style="text-align: center">
      <h2 style='margin-bottom:20px'>Where do you want to start?</h2>
      <img src="assets/img/feature-image-2.jpg" alt="" class="feature-image">
      <hr />
      <div>
        <h3 class="invert">Sampling Decision Assistant</h3>
        <ion-card *ngFor="let section of sections" style="height: 100%; max-height:120px" (click)="goToSection(section)"
          [ngClass]="section.class">
          <div class="section-container">
            <div class="section-title" id="useTheTool">{{section.name}}
              <ion-icon style="margin-left:10px" [name]="section.icon"></ion-icon>
            </div>
          </div>
        </ion-card>
        <hr />
        <h3 class="invert">Extra Resources</h3>
        <!-- Add other options to the main menu / home page -->
        <ion-card *ngFor="let alt of altSections" style="height: 100%; max-height:120px" (click)="goToSection(alt)"
          [ngClass]="alt.class">
          <div class="section-container">
            <div class="section-title">{{alt.name}}</div>
          </div>
        </ion-card>
        <hr />
      </div>
    </div>
  </div>
  <div>
    Made in partnership with <a id="stats4sdLink" href="https://stats4sd.org" target="_blank" rel="nofollow">Statistics
      for Sustainable
      Development</a>
  </div>
  <!-- <div id="stats4sdAdmin" (click)="goToAdmin()">
    Stats4SD Admin
  </div> -->
</ion-content>