<ion-header>
  <ion-navbar>
    <ion-title>Building a Sampling Frame</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="dismiss()" color="primary">
        <ion-icon name="checkmark"></ion-icon>Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>You said you need a stage where you sample
    <strong>{{stageName}}</strong>. This section will help you to make decisions about how to select the sampling units</p>
  <survey-question controlName="q5.3.1" [formGroup]="stageFormGroup"></survey-question>
  <note type="info" *ngIf="stageFormGroup.value['q5.3.1']=='Yes'">Note: this list will be the sampling frame for this stage</note>
  <survey-question controlName="q5.3.2" [formGroup]="stageFormGroup"></survey-question>
  <note type="info" *ngIf="stageFormGroup.value['q5.3.1']=='No'">
    When there is no list available you will need to decide upon an appropriate strategy to build a list.
    
  </note>

  <note type="dev" *ngIf="stageFormGroup.value['q5.3.2']=='No'">
    <strong>Under construction</strong> - Here will include some information and advice on how to handle incomplete or outdated lists</note>


  <note type="dev" *ngIf="stageFormGroup.value['q5.3.1']=='No'">
    <strong>Building a list</strong> - More questions will follow here to help users determine a strategy for the building a suitable
    sampling frame, such as through the use of key informants or area-based sampling</note>

  <survey-question controlName="q5.3.3" [formGroup]="stageFormGroup"></survey-question>



  <survey-question controlName="q5.3.4.3" [formGroup]="stageFormGroup"></survey-question>

  <div *ngIf="stageFormGroup.value['q5.3.3']=='All'">
    <note type="tip">
      <p>
        If you are selecting all the units at this stage, it is likely that the sampling units in the previous stage can be considered
        as clusters for the purpose of analysis.
      </p>
      <p>
        The Sampling Decision Assistant will include this in the summary of your sampling scheme.
      </p>
    </note>
  </div>


  <!-- Reporting domains select (question-custom-strata-select)  -->
  <div *ngIf="reportingLevels">
    <div *ngIf="stageFormGroup.value['q5.3.3']!='' || stageFormGroup.value['q5.3.1']=='No'">
      <survey-question controlName="q5.3.4.2" [formGroup]="stageFormGroup" [showLabel]="false"></survey-question>
    </div>
  </div>



</ion-content>


<!-- <note type="dev" *ngIf="stageFormGroup.value['q5.3.3']=='Sample'"><strong>Stratification</strong> - Some explanation will be written about what it is with pointers to resources and the reasons why stratification
    is used (reporting and efficiency) create some space for the explanation. Remember that when using stratification the
    process of sampling is repeated independently within each stratum</note> -->