glossary {
    .glossary-container{
        margin-top:2em;
    }
    .glossary-term{
        display: inline-block;
        color:color($colors,primary);
        padding:4px;
        margin:4px;
        border:1px solid;
        border-radius:5px;
        cursor: pointer;
        font-weight: 500;
    }
    .glossary-term:hover{
        background-color: color($colors,primary);
        color: white;
    }
    .glossary-definition{
        margin-bottom: 20px;
    }
    .placeholder{
        opacity: 0.6
    }
}
