<div>
  <div *ngIf="filteredGlossaryTerms && filteredGlossaryTerms.length>0">
    <h3>In this section</h3>
    <span *ngFor="let term of filteredGlossaryTerms">
      <span (click)="setActiveTerm(term)" class="glossary-term" 
      [ngClass]="{
        'term-selected':activeTerm && term.slug==activeTerm.slug,
        'term-incomplete':term.Definition==''
      }"
      >{{term.Term}}</span>
    </span>
    <button ion-button clear (click)="viewAllTerms()">View all terms</button>
    <div class="glossary-detail-container">
      <glossary-detail *ngIf="activeTerm" [term]="activeTerm"></glossary-detail>
    </div>

  </div>

  <div *ngIf="!filteredGlossaryTerms || filteredGlossaryTerms.length==0">
    <h3 *ngIf="!filteredGlossaryTerms">Glossary</h3>
    <span *ngFor="let term of allGlossaryTerms">
      <span (click)="setActiveTerm(term)" class="glossary-term" 
      [ngClass]="{
        'term-selected':activeTerm && term.slug==activeTerm.slug,
        'term-incomplete':term.Definition==''
      }"
      >{{term.Term}}</span>
    </span>
    <div class="glossary-detail-container">
      <glossary-detail *ngIf="activeTerm" [term]="activeTerm"></glossary-detail>
    </div>

    <!-- <h3>More terms to be included</h3>
    <ul>
      <div *ngFor="let term of allGlossaryTerms">
        <li *ngIf="term.Definition==''">
          <div>
            <div>{{term.Term}}</div>
            <div style="font-size: x-small">{{term.slug}}</div>
          </div>
        </li>
      </div>
    </ul> -->

  </div>




</div>