glossary {
    .glossary-detail-container{
        margin-top:2em;
    }
    .glossary-term{
        display: inline-block;
        color:color($colors,primary);
        padding:4px;
        margin:4px;
        border:1px solid;
        border-radius:5px;
        cursor: pointer;
        font-weight: 500;
    }
    .glossary-term:hover, .term-selected{
        background-color: color($colors,primary);
        color: white;
    }
    .term-incomplete{
        opacity: 0.4;
        background-color: rgb(180, 175, 175);
        color:black
    }
    .term-incomplete:hover{
        opacity: 0.4;
        background-color: rgb(180, 175, 175);
        color:black;
        cursor: default
    }
    .glossary-definition{
        margin-bottom: 20px;
    }
    .placeholder{
        opacity: 0.6
    }
}
