<div #nodeInfo id="nodeInfo" [attr.data-visible]="activeNode ? 'true' : 'false'">
    <div *ngIf="activeNode">
        <div class="node-title">
            {{activeNode.label}}
        </div>
        <div class="info-subsection-labels">
            <button ion-button clear icon-left [attr.data-active]="infoSection=='info'" (click)="_updateInfoSection('info')">
                <ion-icon name="information-circle"></ion-icon>Info
            </button>
            <button style="flex:1" ion-button clear icon-left [attr.data-active]="infoSection=='allocation'" (click)="_updateInfoSection('allocation')">
                <ion-icon name="calculator"></ion-icon>Allocation
            </button>
        </div>
        <div class="node-info-text">
            <!-- info tab -->
        <div [style.display]="infoSection=='info'?'block':'none'">
                <div *ngFor="let meta of stageMeta">
                    <div *ngIf="nodeMeta.stageMeta && [meta.var]" class="meta-item" >
                            <div class="meta-label">{{meta.label}}</div>
                            <div class="meta-value">{{nodeMeta.stageMeta[meta.var]}}</div>
                    </div>
                </div>
               
            </div>
            <!-- allocation tab -->
            <div [style.display]="infoSection=='allocation'?'block':'none'">
                <div class="node-info-text">allocation tab</div>
                <div>You said you want to sample all units in this stage</div>
                <div>How many units are there?</div>
            </div>
        </div>
        

    </div>


</div>

<!-- <div [ngSwitch]="activeNode.group" class="node-info-text">
        <div *ngSwitchCase="'stageNodes'">


        </div>
        <div *ngSwitchCase="'reportingLevelNodes'">
            <p>This node represents a reporting level</p>

        </div>
        <div *ngSwitchDefault>
            <p>This node is incomplete. Complete the corresponding stage questions to provide information required</p>
        </div>
    </div> -->

<!-- <p>This node represents a sampling stage</p>
                    <p>The full list of stages are:</p>
                    <ol>
                        <li *ngFor="let stage of (samplingStages$ | async)" style="margin-left:10px" [attr.data-active]="stage.name==activeNode.label">
                            {{stage.name}}
                        </li>
                    </ol> -->

<!-- <p>The full list of levels are:</p>
                    <div *ngFor="let level of (reportingLevels$ | async)">
                        <div style="text-decoration: underline">{{level.name}}</div>
                        <ul>
                            <li *ngFor="let name of level.classifications.names" style="margin-left:10px" [attr.data-active]="name==activeNode.label">
                                {{name}}
                            </li>
                        </ul>
                    </div> -->