<!-- Generated template for the StageIntroComponent component -->
<div class="intro-box">
  <h2>In this section</h2>
  <div *ngIf="stage==1">
    <p>You will identify the main objectives of the survey to help inform future decision making and identify how the tool can best be used.
      There will be <strong>1-4 questions</strong> to answer during this section
    </p>
  </div>
  <div *ngIf="stage==2">
    <p>You will specify the indicator that will guide some of your decisions about sampling.</p>
  </div>
  <div *ngIf="stage==3">
    <p>You will identify your target population and consider any additional criteria for exclusion or inclusion to make it as well-defined as possible</p>
  </div>
  <div *ngIf="stage==4">
    <p>You will consider the reporting requirements for the data to be collected, to use as a basis for determining sampling frames and strata</p>
  </div>
  <div *ngIf="stage==5">
    <p>You will develop a sampling system to support the collection of data to meet your overall objective</p>
  </div>
  <div *ngIf="stage==6">
    <p>You will determine your desired sampling size and specify the number of sampling units across all stages</p>
  </div>
  
</div>
