stage-intro {
    .intro-box{
        text-align: left;
        border:2px solid color($colors,primary);
        margin-bottom:20px

    }
    .intro-heading{
        display: flex;
        position: relative;
        height: 26px;
        align-items: center;
        background-color: color($colors,primary);
        padding: 0 5px;
        margin-bottom: 10px;
        line-height: 1.2;
        font-size: large;
        color:white;
    }
    p{
        font-size: 14px;
        padding:5px;
    }
}
