<!-- Generated template for the StageIntroComponent component -->
<div class="intro-box">
  <h2>In this section</h2>
  <div *ngIf="stage==1">
    <p>You will identify the main objectives of the survey to help inform future decision making and identify how the tool can best be used</p>
  </div>
  <div *ngIf="stage==2">
    <p>You will identify the indicators that will guide some of your decisions about sampling.</p>
  </div>
  <div *ngIf="stage==3">
    <p></p>
  </div>
  <div *ngIf="stage==4">
    <p>You will consider the reporting requirements for the data to be collected, to use as a basis for determining sampling frames and strata</p>
  </div>
  <div *ngIf="stage==5">
    <p></p>
  </div>
  <div *ngIf="stage==6">
    <p></p>
  </div>
  
</div>
