// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
@import './scrollbars.scss';
// --------------------------------------------------
$max-app-width:768px;
// --------------------------------------------------
// header settings
.header-logo{
    height:50px;
}
.header{
    display: flex;
}
.header-text{
display: flex;
flex-direction: column;
justify-content: center;
color:color($colors,primary)
}
// --------------------------------------------------
// text block css
h3{
    font-size: large;
    font-weight: bold;
    color:color($colors,primary);
    padding: 10px 0;
}
h2{
    font-size: x-large;
    color:color($colors,primary);
}
.feature-image{
    margin-bottom: 20px;
}
.hidden{display: none}

.multi-line-button{
    // requires text-wrap attribute on element for multiple lines
    text-transform: none;
    font-weight: 300;
    @media screen and (max-width:300px) {
        // make buttons larger on very small screens
        height:6rem;
    }
}

// --------------------------------------------------
// css commonly used to help display vertical columns with correct height sections
.central-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.central-inner-content{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-evenly;
}

// --------------------------------------------------
// more section css
.hover-fill{
    :hover{
        background-color: wheat;
        cursor: pointer;
    }     
}
.card.disabled{
    opacity: 0.6;
    :hover{background-color:white};
}
.invert{
    background-color: color($colors,primary);
    color:rgba(255,255,255,0.9)
}
.section-icon{
    height: 100%;
    max-height: 110px;
    max-width: 110px;
    padding: 5px;
    width:auto;
}
.section-icon-container{
    width:120px;
}
.section-container{
    padding:5px;
    height: 100%;
    display: flex;
    cursor: pointer;
}
.section-title{
    color:color($colors,primary);
    font-size: large;
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-container{
    height: calc(100vh - 106px);
    display: flex; 
    flex-direction: column;
}
// allow vertical scroll in slides
ion-slides { height: 100%; }
.slide-zoom{
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}
.slide-content{
    max-height: calc(100vh - 140px);
    padding-top:10px;
    overflow: scroll;
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    // interpolated variable
    width:calc(100% - 16px);
    max-width: calc(#{$max-app-width} - 64px)
}
.central-content{
    position: absolute;
    width:calc(100vw - 32px);
    max-width: calc(#{$max-app-width} - 32px);
    // max-width: 468px;
    margin-top:32px;
    max-height: calc(100vh - 164px)
    
}
.swiper-slide{width:100%!important}

// --------------------------------------------------
// glossary
.glossary-link{
    //text-decoration: underline; 
    // color: color($colors,primary); 
    color:brown;
    font-weight: 500;
    cursor: pointer;
}

// --------------------------------------------------
// question display overrides
ion-card{
    #questionLabelText, .question-number.dark{
        color: color($colors,dark);
        font-size: 14px;
        font-weight: 500;
    }
    .question-number.dark{
        font-size: 10px;
    }
}

// --------------------------------------------------
// app root centering

@media screen and (min-width:$max-app-width){
    // add padding, background and curved edges for large devices
    .menu-content, .app-root{
        border-radius: 10px;
    }
    body{
        background-color: color($colors,primary);
    }
    .app-root{
        margin:5px auto;
        position: unset;
        padding: 5px;
        max-width: $max-app-width;
        height:calc(100vh - 10px);
    }
    // popover fix for screen resizing (max-width - 100?)
    .popover-content{
        margin-right:400px;
    }
    // modal fix for screen resizing
    .modal-wrapper{
        left: calc(50% - #{$max-app-width}/2);
        top: calc(50% - #{$max-app-width}/2);
        position: absolute;
        width: $max-app-width;
        height: $max-app-width;
    }
}
// --------------------------------------------------




// --------------------------------------------------
// matched css from questions.scss to apply to pdf clone
.pdf-output{
    .heading{
        font-weight: 700;
        color:white;
        width:100%;
        background-color: color($colors,primary);
        padding:5px;
        font-size: large;
        margin-top:5px
    }
}

// --------------------------------------------------
// attempts to fix html2canvas for ionic, failed
// .scroll-content,.pdf-content,.fixed-content,.content,body{
//     overflow: visible!important
// }













    