// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
@import './scrollbars.scss';
// header settings
.header-logo{
    height:50px;
}
.header{
    display: flex;
}
.header-text{
display: flex;
flex-direction: column;
justify-content: center;
color:color($colors,primary)
}

// text block css
h3{
    font-size: large;
    font-weight: bold;
    color:color($colors,primary);
    padding: 10px 0;
}
h2{
    font-size: x-large;
    color:color($colors,primary);
}
.feature-image{
    margin-bottom: 20px;
}

.multi-line-button{
    // requires text-wrap attribute on element for multiple lines
    text-transform: none;
    font-weight: 300;
    @media screen and (max-width:300px) {
        // make buttons larger on very small screens
        height:6rem;
    }
}

// css commonly used to help display vertical columns with correct height sections
.central-content{
    display: flex;
    flex-direction: column;
    height: 100%
}
.central-inner-content{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-evenly;
}


// app root centering
$max-app-width:500px;

@media screen and (min-width:$max-app-width){
    // add padding, background and curved edges for large devices
    .menu-content, .app-root{
        border-radius: 10px;
    }
    body{
        background-color: color($colors,primary);
    }
    .app-root{
        margin:5px auto;
        position: unset;
        padding: 5px;
        max-width: $max-app-width;
        height:calc(100vh - 10px);
    }
    // popover fix for screen resizing
    .popover-content{
        margin-right:400px;
    }
}


// attempts to fix html2canvas for ionic, failed

// .scroll-content,.pdf-content,.fixed-content,.content,body{
//     overflow: visible!important
// }

// matched css from questions.scss to apply to pdf clone
.pdf-output{
    .heading{
        font-weight: 700;
        color:white;
        width:100%;
        background-color: color($colors,primary);
        padding:5px;
        font-size: large;
        margin-top:5px
    }
}


    .card{
        :hover{
            background-color: wheat;
        }     
    }
    .card.disabled{
        opacity: 0.6;
        :hover{background-color:white};
    }
    .section-icon{
        height: 100%;
        max-height: 110px;
        max-width: 110px;
        padding: 5px;
        width:auto;
    }
    .section-icon-container{
        width:120px;
    }
    .section-container{
        padding:5px;
        height: 100%;
        display: flex;
        cursor: pointer;
    }
    .section-title{
        color:color($colors,primary);
        font-size: large;
        flex: 1;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-container{
/*        height: calc(100vh - 106px);
*/        display: flex; 
        flex-direction: column;
    }

    