stage-complete {
    .complete-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:5px;
        background-color: #e5d25b;
        margin-top:20px;
    }
    .complete-icon{
        font-size: 32px;
        color: white;
    }
    h2{
        color:black;
        text-align: center;
        flex-basis: 100%;
        margin:0;
    }
}
