
<div style="display:flex; flex-wrap:wrap; justify-content:space-between">
  <ion-item *ngIf="form" style="max-width:300px">
    <ion-label>Mark Section as Complete</ion-label>
    <ion-checkbox [disabled]="!sectionValid" [(ngModel)]="dataPrvdr.stagesComplete[stage.number]"></ion-checkbox>
  </ion-item>
  <button ion-button icon-right *ngIf="dataPrvdr.stagesComplete[stageNumber]" (click)="nextStage()">
    Next Stage
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</div>


<!-- automatic checking of form validity through template function call - uses throttle to avoid too many calls -->
<div>{{checkSectionValid(form.value)}}</div>