glossary-link {

    .tooltip {
        position: relative;
        display: inline-block;
    }
    
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #5d5d5d;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
     
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        top:1.2em;
    }

}
