<div class="slide-content">
  <h4>What indicators will guide your sampling decisions?</h4>
  <p>
    While most studies that use sampling intend to quantify multiple indicators, it is normal to base the decisions on a key
    indicator. In this section you will be asked to select such indicator and to establish the estimation requirements that
    will help you making sampling decisions later on.
  </p>
  <help-icon relevant="q2.1.1"></help-icon>
  <survey-question-group section="Indicators" [showLabel]=true [filter]="['q2.1.1']"></survey-question-group>
  <div>
    <p>
      The next question is about the estimate you are interested in. Many estimation processes are about estimating either of the
      following, please select the estimate that best describes your interest.
    </p>
    <survey-question-group section="Indicators" [showLabel]=true [filter]="['q2.1.2']"></survey-question-group>
  </div>
  <!-- case averages -->
  <div *ngIf="form.value['q2.1.2']=='Average or total value of indicator in the population'">
    <survey-question-group section="Indicators" [showLabel]=true [filter]="['q2.2.1']"></survey-question-group>
    <p>This value may be known from previous studies. You don’t need to be exact about this value, but the more exact you are,
      the better.</p>
    <div *ngIf="form.value['q2.2.1']=='Yes'">
      <survey-question-group section="Indicators" [showLabel]=true [filter]="['q2.2.2']"></survey-question-group>
    </div>
    <div *ngIf="form.value['q2.2.1']=='No'">
      <p>If you don’t know the value and there is no information you can rely on, you may be able to come to an approximate
        value by answering the following questions</p>
      <survey-question-group section="Indicators" [showLabel]=true [filter]="['q2.2.3']"></survey-question-group>
      <survey-question-group section="Indicators" [showLabel]=true [filter]="['q2.2.4']"></survey-question-group>
      <p>If the distribution of the values of (indicator) in the population is roughly symmetric, this value would be an acceptable
        estimate. If the distribution is heavily skewed the value may be an overestimate and you may want to correct it slightly
        down. If the distribution is flat, that is the values do not cluster towards the mean, but low values and high values
        are as likely as values around the mean, this may be a slight underestimate.
      </p>
      <div *ngIf="form.value['q2.2.3'] && form.value['q2.2.4']">
        <div class="calculation">
          <ion-icon name="calculator"></ion-icon>
          <span>&sigma; = {{sd | number:'1.2-2' }}</span>
        </div>
        <p>
          The above calculation establishes the standard deviation as: (max-min)/6 .
          <br> Do you want to change this value? If so you can do so in the box below.
        </p>
        <survey-question-group section="Indicators" [showLabel]=false [filter]="['q2.2.2']"></survey-question-group>
      </div>
      
    </div>
  </div>
  <!-- case proportions *** tbc ***-->
  <div *ngIf="form.value['q2.1.2']=='Proportion of elements in the population with the characteristics of the indicator'">
    <!-- <note type="dev">Questions for case proportions will go here</note> -->
    <survey-question-group section="Indicators" [filter]="['q2.3.1']"></survey-question-group>
  </div>

  <!-- q2.4 -->
  <div *ngIf="form.value['q2.2.2'] || form.value['q2.3.1']">
    <survey-question-group section="Indicators" [filter]="['q2.4']"></survey-question-group>
  </div>

  <stage-complete stageNumber=2 [complete]="dataPrvdr.activeSurvey.stagesComplete[2]"></stage-complete>

</div>