page-questions {
    .heading{
        font-weight: 700;
        color:white;
        width:100%;
        background-color: color($colors,primary);
        padding:5px;
        font-size: large;
        margin-top:5px
    }
    #outputTable{
        padding: 10px;
        margin: 30px 0;
    }
    .scroll-content{
        margin-bottom: 10px;
    }

    
}
