<ion-header>

  <ion-navbar color="primary">
    <ion-title>Questions-based mode</ion-title>
    <ion-buttons end>
      <!-- <button ion-button icon-left (click)="save()">Save</button>
      <button ion-button icon-left (click)="loadSavedSurvey()">Load</button>
      <button ion-button icon-left (click)="print()">Print</button> -->
      <button ion-button icon-left (click)="export()" *ngIf="!showIntro">Export</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="survey" style="margin-bottom:10px">
  <div padding class="intro" [ngClass]="showIntro ? 'not-hidden':'hidden'">
    <p>Here you will use the Sampling Decision Assistant following key decision stages in your sampling design.</p>
    <p>You will have easy access to extra help and examples about how to make the decisions that will form you sampling design</p>
    <button block ion-button icon-left (click)="hideIntro()">
      <ion-icon name="arrow-forward"></ion-icon>Continue</button>
  </div>

  <div [ngClass]="showIntro ? 'hidden':'not-hidden'">
    <div id="outputImage"></div>
    <div class="pdf-output">
      <div *ngFor="let questionGroup of questionGroups">
        <div class="heading">
          {{questionGroup._name}}
        </div>
        <survey-question-group #survey [questions]="questionGroup.questions"></survey-question-group>
      </div>
    </div>
  </div>
</ion-content>