question-custom-strata-select {
    .question-container{
        margin:20px 0 20px 45px;
    }
    .item-inner{
        color:color($colors,primary)
    }
    .list-header{
        margin-bottom: 0
    }
}
