question-custom-strata-select {
    .question-container{
        margin:20px 0 20px 45px;
    }
    .item-inner{
        color:color($colors,primary)
    }
    .list-header{
        margin-bottom: 0
    }

    .item-md.item-checkbox-disabled ion-label{
        opacity: 0.9!important;
        text-decoration: line-through;
    }
    .checkbox-md.checkbox-disabled{
        opacity: 0.3;
    }
}
