page-indicators {
    textarea{
        resize: none;
        
    }
    textarea.text-input{
        height:calc(100% - 5px);
        margin:0;
        // custom scroll testing
    }

        // .custom-scroll::-webkit-scrollbar {
        // // width: 22px;
        // // height: 100%;
        // }
        // .custom-scroll::-webkit-scrollbar-button {
        // width: 0px;
        // height: 0px;
        // }
        // .custom-scroll::-webkit-scrollbar-thumb {
        // background: #0080ff;
        // border: 6px solid #ffffff;
        // border-radius: 20px;
        // }
        // .custom-scroll::-webkit-scrollbar-thumb:hover {
        // background: #ffffff;
        // }
        // .custom-scroll::-webkit-scrollbar-thumb:active {
        // background: #000000;
        // }
        // .custom-scroll::-webkit-scrollbar-track {
        // background: #ffffff;
        // border: 0px none #ffffff;
        // border-radius: 18px;
        // }
        // .custom-scroll::-webkit-scrollbar-track:hover {
        // background: #666666;
        // }
        // .custom-scroll::-webkit-scrollbar-track:active {
        // background: #333333;
        // }
        // .custom-scroll::-webkit-scrollbar-corner {
        // background: transparent;
        // }
}
   
    

