glossary-link {
  .tooltip {
    position: relative;
    display: inline-block;
    color: brown;
    font-weight: 500;
    cursor: pointer;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    right: 40%;
    overflow-y: auto;
    max-height: 300px;
    background-color: #5d5d5d;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    text-align: left;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  // class triggers to determine positioning
  .left {
    right: 10%;
  }
  .right {
    left: 10%;
  }
  .missing {
    border-bottom: 1px dashed brown;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    top: 1.2em;
  }
}
