<ion-header>

  <ion-navbar color="primary">
    <ion-title>Glossary</ion-title>
    <ion-buttons end *ngIf="modalMode">
      <button ion-button icon-right (click)="dismiss()">
        Close
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content padding>

  <div *ngIf="!activeTerm.Term">
    <h2>Glossary</h2>
    <div *ngFor="let term of glossaryTerms" (click)="setActiveTerm(term)">
      <span class="glossary-term" *ngIf="term.Definition!=''">{{term.Term}}</span>
    </div>
    <h3>More terms to be included</h3>
    <ul>
      <div *ngFor="let term of glossaryTerms">
        <li *ngIf="term.Definition==''">
          <span>{{term.Term}}</span>
        </li>
      </div>

    </ul>

  </div>

  <div *ngIf="activeTerm.Definition">
    <h2>{{activeTerm.Term}}</h2>
    <div id="definition" #definition class="glossary-definition" [innerHtml]="_renderHtml(activeTerm.definition)"></div>
    <button ion-button icon-left (click)="showFullGlossary()">
      <ion-icon name="book"></ion-icon>
      <span>Show full glossary</span>
    </button>
  </div>


</ion-content>