<ion-header>

  <ion-navbar color="primary">
    <ion-title>Indicators</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="central-content">
    <div class="central-inner-content">
      <ion-slides (ionSlideDidChange)="slideChanged()">
        <!-- Introduction slide -->
        <ion-slide>
          <div class="slide-content">
            <h4>What indicators will guide your sampling decisions?</h4>
            <p>
              In this section you need to select one indicator that will guide some of your decisions about sampling.
            </p>
            <p>
              A good deal of the statistics theory that is used in sampling is based on estimating the value of an indicator for a population.
              This produces some tension because in practice we want to estimate multiple indicators. The way this tension
              is resolved it to choose one key indicator that can be used to make important decisions.
            </p>
            <p>
              There are two things you will need to know about the indicator:
            </p>
            <ol>
              <li>How variable it is</li>
              <li>What is the margin of error that you are prepared to accept in the estimation process</li>
            </ol>
            <p>
              The following questions will help you in thinking about these issues
            </p>
            <ion-card>
                <survey-question-group *ngIf="sectionMeta.questions" [questions]="sectionMeta.questions" [showLabel]=true></survey-question-group>
            </ion-card>
            
            <p>
              You can access extra help in the section "Audio" and "Video" where some more technical issues are discussed to help you developing
              a better understanding that should help in your decision making.
            </p>
          </div>
        </ion-slide>
        <ion-slide>
          <h4>Resources</h4>
        </ion-slide>
        <ion-slide>
          <h4>Glossary</h4>
        </ion-slide>
      </ion-slides>
      <div padding>
        <ion-segment [(ngModel)]="activeSlide">
          <ion-segment-button *ngFor="let section of sections" [value]="section.slideIndex" (click)="slideTo(section.slideIndex)">{{section.label}}</ion-segment-button>
        </ion-segment>
      </div>
    </div>
    <div>
      <div>
        <!-- <h3>Your Decisions</h3> -->
        <!-- <survey-question-group #survey [questions]="questions" singleMode='true' *ngIf="questions"></survey-question-group> -->
        <!-- <div style="display: flex; flex-direction: column; height:80px" >
          <ion-textarea [placeholder]="placeholderText" style="height:100%"></ion-textarea>
        </div> -->

      </div>

    </div>

  </div>



</ion-content>