<div class="slide-content">
    <stage-breadcrumbs [stage]='6' [stageSlidesIndex]="stageSlidesIndex"></stage-breadcrumbs>
    <div [ngSwitch]="stagePart">
        <!-- recap  -->
        <div *ngSwitchDefault>
            <stage-intro [stage]="6"></stage-intro>
            <h4>Allocating resources</h4>
            <p>The final step in this process is to determine the number of units that should be sampled at every stage in the
                process
            </p>
            <p>The results will be based the hierarchy of sampling stages and reporting levels that you have specified, with
                supporting calculations for margin of error and design effect</p>
            <p>Here is a diagram summarising the stages and reporting requirements provided so far:</p>
            <tree-diagram [showInputNodes]="false" [showKey]="'true'" *ngIf="initComplete" class="fade-in"></tree-diagram>
            <div style="margin-top:1em; max-width:90%">
                <note type="tip">Click on the each shape in the diagram for more information about the node</note>
            </div>
        </div>
        <!-- Stratification section -->
        <div *ngSwitchCase="1">
            <h4>Stratification</h4>
            <p>
                There may be cases where you wish to further sub-divide the existing stages and sampling units into strata for the purpose
                of allocating units.
            </p>
            <note type="dev">
                <strong>Under Construction</strong>
                <br>This feature is currently under construction. Meanwhile, you can still be able to allocate resources within each
                stage and reporting level classification.
            </note>
        </div>
        <!-- Sample sizes section -->
        <div *ngSwitchCase="2">
            <h4>Determining an overall sample size</h4>
            <p>We now wish to decide on the total number of final sampling units that data will be recorded for.</p>
            <p>If the number of units you wish to use is already known then please input the answer in the box below. Otherwise
                you can use the tool below to help determine a reasonable estimate
            </p>
            <button ion-button icon-left (click)="launchSampleSizeCalculator()">
                <ion-icon name="calculator"></ion-icon>Sample Size Calculator</button>
            <survey-question-group [filter]="['q6.1']"></survey-question-group>
            <!-- <ion-input type="number" placeholder="Sample size required" [(ngModel)]="sampleSize" class="sample-size-input"></ion-input> -->

        </div>
        <div *ngSwitchCase="3">
            <h4>Allocating resources</h4>
            <p>The next step is to allocate the sampling units throughout the diagram</p>
            <div style="display: flex">
                <div class="tree-container">
                    <tree-diagram [showInputNodes]="true"></tree-diagram>
                    <div class="node-editor" [attr.data-show]="selectedNode.id ? 'show' : null">
                        <div class="node-editor-breadcrumbs"></div>
                        <div class="node-editor-heading">Allocate</div>
                        <ion-list>
                            <ion-item>
                                <ion-input (ionChange)="updateNode($event)" type="number" [placeholder]="'Number of '+selectedNode.label"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <p>Apply to all
                                        <br>({{selectedNode.label}})</p>
                                </ion-label>
                                <ion-checkbox></ion-checkbox>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <p>Apply to all
                                        <br>(this stage)</p>
                                </ion-label>
                                <ion-checkbox></ion-checkbox>
                            </ion-item>
                        </ion-list>


                    </div>
                </div>
                <div class="touch-scroll-space"></div>
            </div>




        </div>
    </div>


    <!-- Next and back buttons -->
    <div style="display: flex; justify-content:space-between; padding-bottom:20px">

        <button ion-button icon-right (click)="nextStep()" *ngIf="stagePart !='3'" clear block>Continue
            <ion-icon name="arrow-forward"></ion-icon>
        </button>

    </div>

</div>