stage-6 {
    .stage-6-slides, .slide-zoom, .swiper-slide{
        font-size: 14px;
        text-align: left;
        
    }
    .sample-size-input{
        background-color: yellow;
        margin:20px 0;
    }
}