resources {
    h4{
        color:color($colors,primary);
        font-size: 16px;
    }
    .item{
        border-bottom: 1px solid rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .question-text{
        margin-bottom: 1em;
        white-space: normal;
    }
    .answer-text{
        padding: 5px;
        font-size: small
    }
    .expanded{
        background-color: #FFEED1;
        .question-text{
            font-weight:bold
        }
    }
}
