<!-- Generated template for the ResourcesComponent component -->
<div>
  <h2>Key Questions</h2>
  <ion-list>
    <ion-item *ngFor="let question of questions; let i=index" [ngClass]="question.expanded ? 'expanded' : 'contracted'">
      <!-- <div class="relevant-question" *ngIf="question.relevant && question.relevant.indexOf(relevant)>-1">*</div> -->
      <div class="question-text" [innerHtml]="question.q" (click)="viewResource(i)"></div>
      <div class="answer-display-options" *ngIf="question.expanded">
        <button outline ion-button icon-left *ngIf="question.a" (click)="viewResource(i,'text')" [class.selected]="question.expanded && question.showFormat=='text'">
          <ion-icon name="list"></ion-icon>Text</button>
        <button outline ion-button icon-left *ngIf="question.video" (click)="viewResource(i,'video')" [class.selected]="question.expanded && question.showFormat=='video'">
          <ion-icon name="logo-youtube"></ion-icon>Video</button>
        <note type="dev" *ngIf="!question.a">Coming soon!</note>
        <div style="flex:1" (click)="viewResource(i)"></div>
      </div>
      <!-- audio and text -->
      <div *ngIf="question.expanded && question.showFormat=='text'" [@expand]="'expanded'">
        <div class="answer-audio" *ngIf="question.audio">
          <audio controls>
            <source [src]="question.audio" type="audio/mp3">
            <p>Your browser doesn't support HTML5 audio. Here is a
              <a [href]="audio">link to the audio</a> instead.</p>
          </audio>
        </div>
        <div class="answer-text" [innerHtml]="question.a"></div>
      </div>
      <!-- video -->
      <div class="answer-video" *ngIf="question.expanded && question.showFormat=='video'" [@expand]="'expanded'">
        <youtube-player [videoId]="question.youtubeID" [width]="videoPlayerWidth" [height]="videoPlayerHeight"></youtube-player>
      </div>
    </ion-item>
  </ion-list>
  <!-- <h2>Example Cases</h2>
  <note type="dev">Here we plan to have a selection of common examples to illustrate typical answers for this section</note>
  <h2>More Information</h2>
  <note type="dev">In this space you will be able to find additional links and resources to support the section content</note> -->
</div>