<!-- Generated template for the ResourcesComponent component -->
<div>
  <h2>Key Questions</h2>
  <ion-list>
    <ion-item *ngFor="let question of questions; let i=index" [ngClass]="question.expanded ? 'expanded' : 'contracted'">
      <!-- <div class="relevant-question" *ngIf="question.relevant && question.relevant.indexOf(relevant)>-1">*</div> -->
      <div class="question-text" [innerHtml]="question.q" (click)="viewResource(i)"></div>
      <div class="answer-display-options">
        <button outline ion-button icon-left *ngIf="question.a" (click)="viewResource(i,'text')" [class.selected]="question.expanded && question.showFormat=='text'">
          <ion-icon name="list"></ion-icon>Text</button>
        <button outline ion-button icon-left *ngIf="question.audio" (click)="viewResource(i,'audio')" [class.selected]="question.expanded && question.showFormat=='audio'">
          <ion-icon name="volume-up"></ion-icon>Audio</button>
        <button outline ion-button icon-left *ngIf="question.video" (click)="viewResource(i,'video')" [class.selected]="question.expanded && question.showFormat=='video'">
          <ion-icon name="logo-youtube"></ion-icon>Video</button>
        <note type="dev" *ngIf="!question.a">Coming soon!</note>
        <div style="flex:1" (click)="viewResource(i)"></div>
      </div>
      <div class="answer-text" *ngIf="question.expanded && question.showFormat=='text'" [@animationState]="'expandIn'" [innerHtml]="question.a"></div>
      <div class="answer-audio" *ngIf="question.expanded && question.showFormat=='audio'" [@animationState]="'expandIn'">
        <audio controls>
          <source [src]="question.audioUrl" type="audio/mp3">
          <p>Your browser doesn't support HTML5 audio. Here is a
            <a [href]="audioUrl">link to the audio</a> instead.</p>
        </audio>
      </div>
      <div class="answer-video" *ngIf="question.expanded && question.showFormat=='video'" [@animationState]="'expandIn'">
        <vg-player class="video-player">
          <vg-controls>
            <vg-play-pause>
              <ion-icon name="play"></ion-icon>
            </vg-play-pause>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time class="video-time-bar"></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <vg-mute></vg-mute>
            <vg-volume class="video-volume-control"></vg-volume>
            <!-- <vg-fullscreen></vg-fullscreen> -->
          </vg-controls>
          <video [vgMedia]="media" #media id="singleVideo" preload="auto">
            <source [src]="question.videoUrl" type="video/mp4">
          </video>
        </vg-player>
      </div>
    </ion-item>
  </ion-list>
  <h2>Example Cases</h2>
  <h2>More Information</h2>
</div>