<ion-header>

  <ion-navbar>
    <ion-title>Sample Size Calculator</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="dismiss()">
        <ion-icon name="close"></ion-icon>Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="display: flex">
    <div style="flex-basis: 50%; margin-top:250px">
      <div *ngFor="let field of inputFields">
        <div *ngIf="inputValues[field.var]" >
          <div style="font-weight: bold">{{field.title}}</div>
          <div style="margin-bottom: 2em">{{inputValues[field.var]}}</div>
        </div>
      </div>
      <div style="margin-top: 300px; font-weight: bold">Results</div>
      <div *ngFor="let result of outputs.formatted" style="display: flex; border-bottom: 1px solid gray">
        <div style="flex:1" >{{result.label}}</div>
        <div style="width:75px">{{outputs.raw[result.var]}}</div>
      </div>
      <div style="margin-top: 50px; font-weight: bold">Raw</div>
      <div *ngFor="let r of outputs.rawArray" style="display: flex; border-bottom: 1px solid gray">
        <div style="flex:1">{{r}}</div>
        <div style="width:75px">{{outputs.raw[r]}}</div>
      </div>
    </div>

    <div style="flex-basis: 50%">

      <!-- <note type='dev'>
        <p>The tool currently functions seperately from the app and requires all necessary information to be manually input.
          In the future they will be better integrated. for now here are the variables calculated:</p>

        <table>
          <tr>
            <th>Variable</th>
            <th>Value</th>
          </tr>
          <tr *ngFor="let v of calculatorVariables">
            <td>{{v.name}}</td>
            <td>{{v.val}}</td>
          </tr>

        </table>

        <div>

        </div>

      </note> -->
      <iframe class="calculator-iframe" src="https://shiny.stats4sd.org/UNHCR_Sample_Assistant"></iframe>
    </div>
  </div>


</ion-content>