page-sample-size-calculator {
    .calculator-iframe{
        width:100%;
        height: 1200px;
    }
    table{
        border: 1px solid black;
    }
    tr{
        padding: 5px;
    }
    th,td{
        border: 1px solid black;
        padding:5px;
        
    }
}
