stage-5-frame-builder {
    .builder-stage-container,
    .builder-container {
        max-width: 600px;
        margin:unset;
    }
    .build-stage{
        min-height: 3em;
        flex:1;
        min-height:3em;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: color($colors,primary)
    }
    .row-headers {
        background-color: rgb(250, 250, 250);
        font-weight: bold;
        border-color: rgb(128, 128, 128);
        text-align: center;
    }
    .row {
        align-items: center;
        //border-bottom: 1px solid rgb(232, 232, 232); 
        border-bottom: 1px solid rgb(232, 232, 232); 
        min-height:3em;
        text-align: center;
    }
    .stage-name{
        text-align: center;
    }
    .hover{
        // add fade when background hover enabled (could use 'all' to apply to all transitions)
        transition: background-color .3s ease;
        cursor: pointer;
    }
    .hover:hover{
        background-color: rgb(230, 247, 255);
        font-weight: bold;
    }
    .builder-arrow-down {
        font-size: x-large;
    }
    .reference-text {
        padding: 0!important
    }

    .item{
        background-color: unset;
        font-size: small;
        border-bottom: unset;
    }
    .list{
        margin-bottom: 0;
    }
    .sample-size{
        font-size: x-small;
        width:100%;
        position: absolute;
        top:1.2em;
    }
    .col{
        padding: 0;
    }
    
}