<!-- aggregation table -->
<div>
  <div class="section-title">Totals by disaggregation</div>
  <div *ngIf="recommendations$ | async; let recommendations">
    <table style="margin-bottom:2em">
      <tr>
        <th>Stage</th>
        <th>Take</th>
        <th>Total</th>
        <th>Reporting</th>
        <th>Additional Strata</th>
      </tr>
      <tr *ngFor="let stage of samplingStages; index as i; first as first">
        <!-- stage -->
        <td>{{stage.name}} <span *ngIf="!first">per {{samplingStages[i-1].name}}</span></td>
        <!-- take -->
        <td>{{stage['q5.3.3']}}</td>
        <!-- total -->
        <td *ngIf="i<samplingStages.length-1" class="table-input">
          <ion-input type="number" [(ngModel)]="stage.sampleSize" (ionChange)="allocationChange($event,i)"></ion-input>
        </td>
        <td *ngIf="i==samplingStages.length-1" class="table-fixed">{{recommendations.countFinalStage}}</td>
        <!-- Reporting levels -->
        <td>
          <div *ngIf="stage._reportingLevels">
            <div *ngFor="let level of stage._reportingLevels">
              <div *ngIf="level.reportingRequired">
                <div class="strata-name">{{level.name}}</div>
                <ul>
                  <li class="strata-classification" *ngFor="let name of level.classifications.names">{{name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </td>
        <!-- additional strata -->
        <td>
          <div *ngIf="stage._reportingLevels">
            <div *ngFor="let level of stage._reportingLevels">
              <div *ngIf="!level.reportingRequired">
                <div class="strata-name">{{level.name}}</div>
                <ul>
                  <li class="strata-classification" *ngFor="let name of level.classifications.names">{{name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </td>
      <tr>
        <th>
          <div>Total Sample Size</div>
          <div class="recommended-size">(recommended:{{recommendations.totalSampleSize}} )</div>
        </th>
        <td></td>
        <td [class]="totalSampleSize>=recommendations.totalSampleSize ? 'pass':'fail'">
          <span *ngIf="totalSampleSize>0">{{totalSampleSize}}</span>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <note type="warning" *ngIf="totalSampleSize && totalSampleSize < recommendations.totalSampleSize">
      The recommended minimum sample size is {{recommendations.totalSampleSize}}
    </note>
  </div>
</div>